.icon-shape {
    content: url('../assets/images/shape.png');
}

.icon-path {
    content: url('../assets/images/path.png');
}

.icon-search-light {
    content: url('../assets/images/search-copy.png');
}

.icon-search-dark {
    content: url('../assets/images/search-copy-2.png');
}

.icon-green-light {
    content: url('../assets/images/green-light.png');
}

.icon-blue-light {
    content: url('../assets/images/blue-light.png');
}

.icon-orange-light {
    content: url('../assets/images/orange-light.png');
}

.icon-red-light {
    content: url('../assets/images/red-light.png');
}

.icon-full-right-arrow {
    content: url('../assets/images/path-copy-3.png');
}

.icon-like {
    content: url('../assets/images/hand.png');
}

.icon-dislike {
    content: url('../assets/images/hand-copy.png');
}

.icon-left-arrow {
    content: url('../assets/images/arrow-left-copy-2.png');
}

.icon-right-arrow {
    content: url('../assets/images/arrow-left-copy.png');
}

.icon-full-down-arrow {
    content: url('../assets/images/path-copy-7.png');
}
