$color-white: #f9f9f9;
$color-white-2: #ffffff;
$color-white-3: #ecebe9;
$color-blackish: #303030;
$color-tan: #cfb995;
$color-grey: #b2b2b2;
$color-sunset-red: #ff5b5b;
$color-weird-green: #57e690;
$color-weird-green-2: #36c971;
$color-pastel-orange: #ff9f1c;
$color-sky-blue: #57dbe6;
$color-tan-2: #d0ba93;
$color-pale-orange: #ffbe5b;
$color-kiwi-green: #8fe360;
$color-light-gold: #ffdf5b;
$color-dark-grey: #5e5e5e;

$subtitle-h3-font-size: 22px;

$navbar-height: 60px;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;